<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Subir archivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">

    <!-- Titulo -->
    <h2>Selecciona un archivo</h2>

    <!-- Selector de archivo -->
    <ion-item lines="none">
      <ion-label position="stacked">Archivo</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>

    <!-- Botón para subir -->
    <ion-button expand="block" color="primary" (click)="upload()">Subir</ion-button>


  </div>
</ion-content>
